.storyImage {
    border-radius: 50%;
    padding: 3px;
    border: 2px solid red;
}

.storyCard{
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 70vw; */
}
.storyCard > center{
    font-size: smaller;
    color:#262626;
}