.appBody{
   display: flex;
   margin: 1rem 11.5rem;
   height: 88.5vh;
   overflow: none;
   background-color: #FAFAFA;
 } 
 .body{
  background-color: #FAFAFA
 } 
 @media screen and (max-width: 1030px){
  .appBody{
    width: 95vw !important;
    margin: 0 auto;
    margin-left: 3rem;
    padding: 0;
  }
 }  
@media screen and (max-width: 607px){
  .appBody{
    width: 85vw !important;
    margin: 0 auto;
    margin-left: 3rem;
    padding: 0;
  }
}