.profilecard{
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profilecard > img {
    border-radius: 50%;
}
.profileCard__Names{
    display: flex;
    flex-direction: column;
}
.profileCard__user{
    font-weight: 500;
}
.profileCard__name{
    color: #8f8f8f;
}
.profilecard > a {
    color: blue;
    font-weight: 600;
    text-decoration: none;
}
